LOG_LEVEL=info

POSTGRES_DB=stitch
POSTGRES_HOST=db
POSTGRES_PORT=5432

STITCH_MIGRATOR_PASSWORD=stitch_migrator_pw
STITCH_APP_PASSWORD=stitch_app_pw

STITCH_DB_SCHEMA_MODE="if-empty"
STITCH_DB_SEED_MODE="if-needed"
STITCH_DB_SEED_PROFILE="dev"

FRONTEND_ORIGIN_URL=http://localhost:8080